body {
    background-color: #121212; 
    font-family: 'Poppins', sans-serif; 
}

.card {
    width: 280px;
    height: 140px;
    background: #232328;
    color: #EAEAEA;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease-in-out;
    border-left: 5px solid #4caf50; 
}

.card:nth-child(2) { border-left-color: #B197FC; }
.card:nth-child(3) { border-left-color: #A0E8AF; }

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(255, 255, 255, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #B5B5B5;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #EAEAEA;
}

.card-icon {
    font-size: 24px;
    color: #EAEAEA;
    opacity: 0.8;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #B5B5B5;
}
