<div class="contenedor">
  <svg class="animated-line" viewBox="0 0 500 200" fill="none" xmlns="http://www.w3.org/2000/svg">
    <!-- Filtro para el efecto de iluminación y difuminado -->
    <defs>
      <filter id="glow" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur stdDeviation="3" result="blur" />
        <feMerge>
          <feMergeNode in="blur" />
          <feMergeNode in="SourceGraphic" />
        </feMerge>
      </filter>
    </defs>
    <!-- Línea animada -->
    <path d="M 0 150 Q 250 50, 500 150" stroke="white" stroke-width="0.1" fill="transparent" filter="url(#glow)" />
  </svg>
  <div class="login-container">
    <i class="fa-solid fa-circle-user fa-2xl" style="color: #fff;"></i>
    <h2 class="etiquetas">Iniciar Sesión</h2>
    <form (ngSubmit)="login()">
      <input type="email" name="email" [(ngModel)]="email" placeholder="Correo electrónico" required>
      <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
      <button type="submit" [disabled]="isLoading">
        <span *ngIf="!isLoading">Ingresar</span>
        <span *ngIf="isLoading">
          <i class="fa fa-spinner fa-spin"></i> Cargando...
        </span>
      </button>
      <p *ngIf="errorMessage" class="error-message">
        <i class="fa-solid fa-triangle-exclamation error-icon"></i> 
        {{ errorMessage }}
      </p>
      <p class="forgot-password">
        <a [routerLink]="['/forget-password']">¿Olvidaste tu contraseña?</a>
      </p>      
    </form>
  </div>
</div>