<div class="employee-list-container">
    <div class="flex justify-between items-center pb-4 bg-[#232328] rounded-lg">
        <h2 class="text-lg font-semibold text-[#EAEAEA]">Lista Empleados</h2>
        <!-- Zona de Filtros -->
        <div class="flex gap-4 items-center">
            <div>
                <input type="text" placeholder="Buscar por nombre" [(ngModel)]="filterName" (input)="applyFilters()">
            </div>
            <div>
                <input type="text" placeholder="Buscar por apellido" min="18" max="80" [(ngModel)]="filterLastName"
                    (input)="applyFilters()">
            </div>
            <div>
                <input type="number" placeholder="Buscar por edad" [(ngModel)]="filterAge" (input)="applyFilters()"
                    (keydown)="preventTyping($event)"
                    class="w-full sm:w-60 p-2 rounded-md bg-[#141416] text-white border border-[#444] outline-none">
            </div>
        </div>
        <button (click)="toggleForm()" class="bg-[#1849DC] text-white px-4 py-2 rounded-md hover:bg-blue-600">+ Agregar
            Empleado</button>
    </div>

    <!-- Formulario para agregar empleado -->
    <div *ngIf="showForm" class="form-container">
        <h3>Registrar Empleado</h3>
        <form [formGroup]="employeeForm" (ngSubmit)="register()">
            <div class="form-grid">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" formControlName="name" placeholder="Nombre">
                    <div *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('name')?.errors?.['required']">El nombre es requerido.</div>
                        <div *ngIf="employeeForm.get('name')?.errors?.['maxlength']">El nombre no puede exceder 255
                            caracteres.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" id="lastName" formControlName="lastName" placeholder="Apellido">
                    <div *ngIf="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('lastName')?.errors?.['required']">El apellido es requerido.</div>
                        <div *ngIf="employeeForm.get('lastName')?.errors?.['maxlength']">El apellido no puede exceder
                            255 caracteres.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate">Fecha de nacimiento</label>
                    <input type="date" id="birthDate" formControlName="birthDate" placeholder="Fecha de nacimiento">
                    <div *ngIf="employeeForm.get('birthDate')?.invalid && employeeForm.get('birthDate')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('birthDate')?.errors?.['required']">La fecha de nacimiento es
                            requerida.</div>
                        <div *ngIf="employeeForm.get('birthDate')?.errors?.['ageInvalid']">El empleado debe tener al
                            menos 18 años.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input type="tel" id="phone" formControlName="phone" placeholder="Teléfono">
                    <div *ngIf="employeeForm.get('phone')?.invalid && employeeForm.get('phone')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('phone')?.errors?.['maxlength']">El teléfono no puede exceder 20
                            caracteres.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" formControlName="email" placeholder="Correo electrónico">
                    <div *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('email')?.errors?.['required']">El correo electrónico es requerido.
                        </div>
                        <div *ngIf="employeeForm.get('email')?.errors?.['email']">El correo electrónico no es válido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rfid">RFID</label>
                    <input type="text" id="rfid" formControlName="rfid" placeholder="RFID">
                    <div *ngIf="employeeForm.get('rfid')?.invalid && employeeForm.get('rfid')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('rfid')?.errors?.['maxlength']">El RFID no puede exceder 255
                            caracteres.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rfc">RFC</label>
                    <input type="text" id="rfc" formControlName="rfc" placeholder="RFC">
                    <div *ngIf="employeeForm.get('rfc')?.invalid && employeeForm.get('rfc')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('rfc')?.errors?.['maxlength']">El RFC no puede exceder 255
                            caracteres.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nss">NSS</label>
                    <input type="text" id="nss" formControlName="nss" placeholder="NSS">
                    <div *ngIf="employeeForm.get('nss')?.invalid && employeeForm.get('nss')?.touched"
                        class="text-danger">
                        <div *ngIf="employeeForm.get('nss')?.errors?.['maxlength']">El NSS no puede exceder 255
                            caracteres.</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="button" (click)="toggleForm()" class="btn btn-secondary">Cancelar</button>
            <p *ngIf="errorMessage" class="error-message">
                <i class="fa-solid fa-triangle-exclamation error-icon"></i>
                {{ errorMessage }}
            </p>
        </form>
    </div>

    <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="success-message">
        <i class="fa-solid fa-check-circle success-icon"></i>
        {{ successMessage }}
    </div>

    <!-- Tabla de empleados -->
    <table *ngIf="!showForm && employees.length > 0" class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>RFID</th>
                <th>RFC</th>
                <th>NSS</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of displayedEmployees">
                <td>{{ employee.name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.birth_date }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.RFID }}</td>
                <td>{{ employee.RFC }}</td>
                <td>{{ employee.NSS }}</td>
                <td>
                    <app-modal #myModal [title]="'Editar Empleado'">
                        <div class="container mt-5">
                            <h2 class="mb-4">Editar Empleado</h2>
                            <form [formGroup]="editForm" (ngSubmit)="editEmployee(employee)">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="name" formControlName="name">
                                </div>
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="last_name" formControlName="lastName">
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Teléfono</label>
                                    <input type="tel" class="form-control" id="phone" formControlName="phone">
                                </div>
                                <div class="mb-3">
                                    <label for="RFID" class="form-label">RFID</label>
                                    <input type="text" class="form-control" id="RFID" formControlName="rfid">
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </form>
                        </div>
                    </app-modal>
                    <button (click)="openEditModal(employee); myModal.open()" class="bg-blue-500 text-white p-2 rounded">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="pagination-container">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
        <span> Página {{ currentPage }} de {{ totalPagesCount }} </span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPagesCount">Siguiente</button>
    </div>
    <div *ngIf="employees.length === 0" class="no-employees">
        Sin empleados existentes.
    </div>
</div>