<div class="user-dashboard">
    <nav class="sidebar">
      <div class="logo">
        <img src="https://images.vexels.com/media/users/3/128728/isolated/preview/4979f424070de1dbf7055d91695b74c3-icono-plano-de-candado-de-seguridad.png" alt="Logo" />
      </div>
      <ul>
        <li><a routerLink="/usuario/dashboard">Dashboard</a></li>
        <li><a routerLink="/usuario/perfil">Perfil</a></li>
        <li><a routerLink="/usuario/configuracion">Configuración</a></li>
      </ul>
    </nav>
  
    <main class="content">
      <header class="header">
        <h1 class="welcome-message">Bienvenido, Usuario</h1>
        <button class="logout-btn">Cerrar Sesión</button>
      </header>
  
      <section class="dashboard-info">
        <h2>Resumen del Dashboard</h2>
        <div class="cards-container">
          <div class="card">
            <h3>Datos 1</h3>
            <p>Detalles</p>
          </div>
        </div>
      </section>
    </main>
  </div>
  