<div class="contenedor">
    <div class="login-container">
        <h3 class="etiquetas" *ngIf="!emailVerified">Recuperar Contraseña</h3>
        <h3 class="etiquetas" *ngIf="emailVerified">Nueva Contraseña</h3>

        <!-- Formulario para solicitar enlace de recuperación -->
        <form *ngIf="!emailVerified" (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
            <label for="email" class="etiquetas">Correo electrónico</label>
            <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo">
            <div *ngIf="submitted && forgotPasswordForm.controls['email'].invalid" class="error-message">
                <span class="error-icon">⚠</span> Ingresa un correo válido.
            </div>

            <button type="submit" [disabled]="loading">
                <span *ngIf="!loading">Enviar enlace</span>
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>
        </form>

        <!-- Mensaje de confirmación y espera -->
        <div *ngIf="waitingForVerification && !emailVerified" class="overlay">
            <div class="overlay-card">
                <h3>Correo enviado</h3>
                <p>Hemos enviado un enlace de recuperación a tu correo. Por favor, revisa tu bandeja de entrada y confirma la verificación.</p>
                <i class="fa-solid fa-envelope fa-2xl"></i>
            </div>
        </div>

        <!-- Formulario para cambiar la contraseña después de la verificación -->
        <form *ngIf="emailVerified" (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
            <label for="newPassword" class="etiquetas">Nueva Contraseña</label>
            <input type="password" id="newPassword" formControlName="newPassword" placeholder="Ingresa tu nueva contraseña">
            
            <label for="confirmPassword" class="etiquetas">Confirmar Contraseña</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Repite tu nueva contraseña">

            <div *ngIf="submitted && changePasswordForm.invalid" class="error-message">
                <span class="error-icon">⚠</span> Las contraseñas no coinciden.
            </div>

            <button type="submit" [disabled]="loading">
                <span *ngIf="!loading">Cambiar contraseña</span>
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>
        </form>

        <a routerLink="/auth/login" class="forgot-password">Volver al inicio de sesión</a>
    </div>
</div>
