<div class="contenedor">
    <svg class="animated-line" viewBox="0 0 500 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M 50 150 Q 250 50, 450 150" stroke="white" stroke-width="0.1" fill="transparent" />
    </svg>
    <div class="registration-container">
        <i class="fa-solid fa-circle-user fa-2xl" style="color: #fff;"></i>
        <h2 class="etiquetas">Registrar Empleado</h2>
        <form (ngSubmit)="register()">
            <div class="form-grid">
                <input type="email" name="email" [(ngModel)]="email" placeholder="Correo electrónico" required>
                <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
                <input type="text" name="name" [(ngModel)]="name" placeholder="Nombre" required>
                <input type="text" name="lastName" [(ngModel)]="lastName" placeholder="Apellido" required>
                <input type="date" name="birthDate" [(ngModel)]="birthDate" placeholder="Fecha de nacimiento" required>
                <input type="tel" name="phone" [(ngModel)]="phone" placeholder="Teléfono" required>
                <input type="text" name="rfid" [(ngModel)]="rfid" placeholder="RFID" required>
                <input type="text" name="rfc" [(ngModel)]="rfc" placeholder="RFC" required>
                <input type="text" name="nss" [(ngModel)]="nss" placeholder="NSS" required>
            </div>
            <button type="submit">Registrar</button>
            <p *ngIf="errorMessage" class="error-message">
                <i class="fa-solid fa-triangle-exclamation error-icon"></i>
                {{ errorMessage }}
            </p>
        </form>
    </div>
</div>