<div class="contenedor">
    <div class="login-container">
        <h3 class="etiquetas">Restablecer Contraseña</h3>

        <form>
            <label for="newPassword" class="etiquetas">Nueva Contraseña</label>
            <input type="password" id="newPassword" formControlName="newPassword" placeholder="Ingresa tu nueva contraseña">
            
            <label for="confirmPassword" class="etiquetas">Confirmar Contraseña</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Repite tu nueva contraseña">

            <div *ngIf="submitted && newPasswordForm.invalid" class="error-message">
                <span class="error-icon">⚠</span> Las contraseñas no coinciden.
            </div>

            <button type="submit" [disabled]="loading" class="btn-cambiar">
                <span *ngIf="!loading">Cambiar contraseña</span>
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>
            
        </form>

    </div>
</div>
