<div class="form-container">
  <h2>Actualizar Contraseña</h2>
  <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
    <div class="form-group">
      <label for="current_password">Contraseña Actual</label>
      <input type="password" id="current_password" formControlName="current_password" placeholder="Contraseña Actual">
      <div *ngIf="updatePasswordForm.get('current_password')?.invalid && updatePasswordForm.get('current_password')?.touched" class="text-danger">
        <div *ngIf="updatePasswordForm.get('current_password')?.errors?.['required']">La contraseña actual es requerida.</div>
      </div>
      <div *ngIf="formErrors.current_password" class="text-danger">
        <div *ngFor="let error of formErrors.current_password">{{ error }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Nueva Contraseña</label>
      <input type="password" id="password" formControlName="password" placeholder="Nueva Contraseña (mínimo 6 caracteres)">
      <div *ngIf="updatePasswordForm.get('password')?.invalid && updatePasswordForm.get('password')?.touched" class="text-danger">
        <div *ngIf="updatePasswordForm.get('password')?.errors?.['required']">La nueva contraseña es requerida.</div>
        <div *ngIf="updatePasswordForm.get('password')?.errors?.['minlength']">La nueva contraseña debe tener al menos 6 caracteres.</div>
      </div>
      <div *ngIf="formErrors.password" class="text-danger">
        <div *ngFor="let error of formErrors.password">{{ error }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password_confirmation">Confirmar Nueva Contraseña</label>
      <input type="password" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirmar Nueva Contraseña">
      <div *ngIf="updatePasswordForm.get('password_confirmation')?.invalid && updatePasswordForm.get('password_confirmation')?.touched" class="text-danger">
        <div *ngIf="updatePasswordForm.get('password_confirmation')?.errors?.['required']">La confirmación de la nueva contraseña es requerida.</div>
        <div *ngIf="updatePasswordForm.get('password_confirmation')?.errors?.['minlength']">La confirmación de la nueva contraseña debe tener al menos 6 caracteres.</div>
      </div>
      <div *ngIf="updatePasswordForm.errors?.['mismatch'] && updatePasswordForm.get('password_confirmation')?.touched" class="text-danger">
        Las contraseñas no coinciden.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="isLoading">
      <span *ngIf="!isLoading">Actualizar Contraseña</span>
      <span *ngIf="isLoading" class="spinner-container">
        <span class="spinner"></span> Cargando...
      </span>
    </button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  </form>
</div>